{% extends 'management/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="box">
    <div class="main-header-row">
        <div>
            <h1>Привет, {{ request.user.username }}!</h1>
            <p class="role-text">Ваша роль в системе:
                <span class="badge">{{ role|upper }}</span>
            </p>
        </div>

        {% if role == 'admin' %}
        <a href="{% url 'students_list' %}" class="btn btn-secondary">👥 Список учеников</a>
        {% endif %}
    </div>

    {% if role == 'admin' %}
    <div class="section-block">
        <h3>⚡ Панель администратора</h3>
        <div class="btn-group">
            <a href="{% url 'add_subject' %}" class="btn btn-success">➕ Добавить предмет</a>
            <a href="{% url 'add_group' %}" class="btn btn-primary">➕ Создать группу</a>
            <a href="{% url 'students_list' %}" class="btn btn-info">👨‍🎓 Все ученики</a>
            <a href="/admin/" class="btn btn-dark" target="_blank">🛠️ Админка Django</a>
        </div>
    </div>

    <div class="section-block">
        <h3>📚 Управление предметами</h3>
        <div class="btn-group">
            {% for subject in subjects %}
            <a href="{% url 'subject_detail' subject.id %}" class="btn btn-light-subject">
                📖 {{ subject.name }}
            </a>
            {% empty %}
            <p class="empty-msg">Предметы пока не добавлены.</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div>
        <h3>🏫 Учебные группы</h3>
        <div class="groups-list">
            {% if role == 'admin' %}
            {% for group in groups %}
            <div class="group-card">
                <div>
                    <strong>{{ group.name }}</strong> (Предмет: {{ group.subject.name }})
                    <br><small class="text-muted">Преподаватель: {{ group.teacher.username|default:"Не назначен"
                        }}</small>
                </div>
                <a href="{% url 'group_detail' group.id %}" class="btn btn-sm">Открыть</a>
            </div>
            {% empty %}
            <p class="empty-msg">Группы пока не созданы.</p>
            {% endfor %}
            {% else %}
            {% for group in my_groups %}
            <div class="group-card">
                <div>
                    <strong>{{ group.name }}</strong> (Предмет: {{ group.subject.name }})
                </div>
                <a href="{% url 'group_detail' group.id %}" class="btn btn-sm">Открыть</a>
            </div>
            {% empty %}
            <p class="empty-msg">Вы пока не состоите ни в одной группе.</p>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}